[color]
	ui = true
[user]
	name = Josh Loehr
	email = loehrj@wwu.edu
[core]
	editor = vim
	excludesfile = /home/loehrj/.gitignore_global
[alias]
    gg = status
    amend = commit --amend -C HEAD
    last = show HEAD
    unstage = reset HEAD --
